<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col " style="padding-top:40px;">
      <mat-icon svgIcon="Logo" style="width:78px;height:78px"></mat-icon>
    </div>

    <div class="col xp d-flex justify-content-around align-items-center " style="font-family: 'Just Me Again Down Here', 'cursive';padding-top:40px;">
        <div class="link">
          <a routerLink="/home">Acceuil</a>
        </div>
        <div class="link">
          <a href="https://github.com/nouha404/" target="_blank">Credit</a>
        </div>
    </div>
    <div class="col" style="display:flex;justify-content:flex-end;padding-top:40px;">
      <mat-icon svgIcon="Terminal" style="width:78px;height:78px"></mat-icon>
    </div>
  </div>
  <div class="col">
    <div class="line"></div>
  </div>

</div>

