<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col w-50" style="min-height:420px">
          <h1>Des Combinaisons de Mots en Un Clic</h1>

          <p style="padding-top:20px">Créez des wordlists puissantes avec notre outil innovant, générez des combinaisons de mots à partir d'informations spécifiques et simplifiez vos tâches de sécurité.
            Notre application web rend la création de wordlists intuitive et rapide. Personnalisez vos listes en un clin d'œil.
            <br>Rejoignez-nous maintenant et maîtrisez l'art de la génération de mots !
          </p>

          <a routerLink="/wordlist/form" class="btn" style="margin-top: 43px;">Demarrer</a>
      </div>
      <div class="col w-50">
        <mat-icon svgIcon="Personne" style="width:538px;height:538px"></mat-icon>
      </div>
    </div>

</div>
