<div class="container" style="margin-top: 50px;">
    <div class="row ">
      <div class="col w-50" style="margin-top:80px;">
        <mat-icon svgIcon="Server" style="width:476px;height:655px"></mat-icon>
      </div>
      <div class="col" style="margin-top:80px;">
        <h2>Télecharger le fichier</h2>
        <p>Choisissez le format de téléchargement pour votre wordlist. Optez pour un fichier TXT ou JSON pour accéder facilement aux combinaisons de mots générées à partir de vos informations. Cliquez sur l'icône pour télécharger.</p>
        <div class="col" style="display:flex;justify-content:space-around;padding-top:40px;">
          <a (click)="getFileTxt()">
            <mat-icon svgIcon="Txt" style="width:221px;height:221px;cursor: pointer"></mat-icon>
          </a>
          <a>
              <mat-icon svgIcon="Json" style="width:221px;height:221px" class="lock"></mat-icon>

          </a>
          <p class="text-json"> Le json n'est pas encore disponible !</p>

        </div>

      </div>
    </div>
</div>
