<div class="container" style="margin-top: 50px;">
  <div class="row ">
    <div class="col w-50" style="margin-top:80px;">
      <mat-icon svgIcon="Server" style="width:476px;height:655px"></mat-icon>
    </div>
    <div class="col" >
      <h2>Selectionnez le nombre d’informations</h2>
      <p>Indiquez le nombre de détails que vous souhaitez fournir. Chaque information saisie contribuera à générer des combinaisons de mots uniques et personnalisées pour vos besoins spécifiques.</p>
      <div class="col" style="display:flex;justify-content:space-around;padding-top:20px;">

        <form style="width:100%;"
        #formWordlist="ngForm"
        (ngSubmit)="onSaveFormulaire(formWordlist)">
          <div class="form-group">
            <label for="numbers">Informations<span class="required">*</span></label>
            <select id="numbers" name="numbers"
            [(ngModel)]="DefaultselectedNumber"
            >
              <option value="" disabled selected>Sélectionnez le nombre</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div class="element" style="margin: 10px auto;" >
                <div *ngFor="let index of numberSequence(DefaultselectedNumber); let i = index" class="form-group">
                  <label for="info{{ index }}">Information n°{{ index }}<span class="required">*</span></label>
                  <input [(ngModel)]="infoValues[index]"
                    type="text"
                    id="info"
                    name="info{{ index }}"
                    required
                    placeholder="Saisissez l'information"
                    >
                    <small *ngIf="formWordlist.submitted && !infoValues[index]" class="error text-danger">Champ obligatoire</small>
                </div>
            </div>
          </div>
          <button [disabled]="formWordlist.invalid" type="submit" class="btn float-end" style="margin: 43px;">Continuer</button>
        </form>

      </div>
    </div>
  </div>
</div>
